# --- Cluster --- #
cluster.name: {{ es_cluster_name }}


# --- Node --- #
node.name: "{{ ansible_hostname }}"
node.master: {{ es_node_master | lower }}
node.data: {{ es_node_data | lower }}


# --- Index --- #
index.number_of_shards: {{ es_number_of_shards }}
index.number_of_replicas: {{ es_number_of_replicas }}
indicies.fielddata.cache.size: 40%
index.refresh_interval: 3  # Boost freshness of data.
index.translog.flush_threshold_ops: 50000
indices.memory.index_buffer_size: 50%


# --- Memory --- #
bootstrap.mlockall: {{ es_enable_mlockall | lower }}

# --- Network and HTTP --- #
# Only listen on localhost (run behind Nginx for SSL)
transport.tcp.port: {{ es_transport_port }}
http.port: {{ es_http_port }}


# --- Gateway --- #
gateway.recover_after_data_nodes: {{ es_recovery_nodes }}


# --- Discovery --- #
discovery.zen.minimum_master_nodes: {{ es_minimum_master_nodes }}
{% if es_unicast_discovery_hosts is defined %}
discovery.zen.ping.unicast.enabled: true
discovery.zen.ping.unicast.hosts: "{{ es_unicast_discovery_hosts }}"
discovery.zen.ping.multicast.enabled: false
{% else %}
discovery.zen.ping.multicast.enabled: true
discovery.zen.ping.multicast.group: {{ es_multicast_ip }}
discovery.zen.ping.multicast.port: {{ es_multicast_port }}
discovery.zen.ping.multicast.ttl: 5
{% endif %}


# --- Threadpool Settings --- #
# Search pool
threadpool.search.type: fixed
threadpool.search.size: 20
threadpool.search.queue_size: 100

# Bulk pool
threadpool.bulk.type: fixed
threadpool.bulk.size: 60
threadpool.bulk.queue_size: 300

# Index pool
threadpool.index.type: fixed
threadpool.index.size: 20
threadpool.index.queue_size: 100
