# {{ ansible_managed }}

# ======================== Elasticsearch Configuration =========================

# ---------------------------------- Cluster -----------------------------------
cluster.name: {{ es_cluster_name }}
{% if es_major_version is version_compare('7', '>=') %}
cluster.initial_master_nodes: {{ es_cluster_initial_master_nodes }}
{% endif %}

# ------------------------------------ Node ------------------------------------
node.name: "{{ es_node_name }}"
node.master: {{ es_node_master | lower }}
node.data: {{ es_node_data | lower }}

# ----------------------------------- Paths ------------------------------------
path.data: {{ es_path_data }}
path.logs: {{ es_path_logs }}

# ----------------------------------- Memory -----------------------------------
{% if es_enable_mlockall %}
bootstrap.memory_lock: {{ es_enable_mlockall | lower }}
{% endif %}
{% if ansible_facts.os_family == 'RedHat' and ansible_distribution_major_version is version_compare('6', '=') %}
bootstrap.system_call_filter: false
{% endif %}

# ---------------------------------- Network -----------------------------------
network.host: [{% for interface in es_network_host %}"{{ interface }}"{% if not loop.last %}, {% endif %}{% endfor %}]
transport.tcp.port: {{ es_transport_port }}
http.port: {{ es_http_listen_port }}
http.max_content_length: {{ es_http_max_content_length }}mb

# --------------------------------- Discovery ----------------------------------
{% if es_major_version is version_compare('7', '>=') %}
{% if es_discovery_seed_hosts is defined %}
discovery.seed_hosts: {{ es_discovery_seed_hosts }}
{% endif %}
{% else %}
discovery.zen.minimum_master_nodes: {{ es_minimum_master_nodes }}
{% if es_unicast_discovery_hosts is defined %}
discovery.zen.ping.unicast.hosts: "{{ es_unicast_discovery_hosts }}"
{% endif %}
{% endif %}

# ---------------------------------- Gateway -----------------------------------
gateway.recover_after_data_nodes: {{ es_recovery_nodes }}
