[elasticsearch-{{ es_version }}]
name=Elasticsearch repository for {{ es_version }} packages
baseurl=http://artifacts.elastic.co/packages/{{ es_version }}/yum
gpgcheck=1
gpgkey=http://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
autorefresh=1
type=rpm-md
