server {
  listen       {{ ansible_default_ipv4.address }}:{{ es_http_port }};

  include conf.d/ssl.inc;

  error_log   {{ nginx_log_dir }}/{{ nginx_error_log }};
  access_log  {{ nginx_log_dir }}/{{ nginx_access_log }};

  proxy_redirect off;

  proxy_set_header  X-Real-IP  $remote_addr;
  proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header  Host $http_host;

  location ~* _cluster {
    # Control access to Cluster API
    {% if es_allow_cluster_nets is defined %}
      {% for allow in es_allow_cluster_nets %}
        allow {{allow}};
      {% endfor %}
    deny all;
    {% endif %}
    # Pass requests to ElasticSearch
    proxy_pass http://127.0.0.1:{{ es_http_port + 1 }};
  }

  location / {
    # Pass requests to ElasticSearch
    proxy_pass http://127.0.0.1:{{ es_http_port + 1 }};
  }
}
